*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}  
:root{
  --padding-parent: 10px;
  --margin:30px auto;
}
.parent{
  width: 500px;
  height: 400px;
  margin: var(--margin);
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
.E,
.L{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  position: relative;
}
.E div,
.L div{
  background-color: #323234;
}
.E > .one{
  grid-area: 1/1/2/5;
}
.E > .two{
  grid-area: 1/1/7/2;
} 
.E > .three{
  grid-area: 4/1/5/5;
} 
.E > .four{
  grid-area: 7/1/8/5;
} 
.L > .five{
  grid-area: 1/1/7/2;
} 
.L > .six{
  grid-area: 7/1/8/5;
}
.E::before{
  content: "";
  width: 40px;
  height: 40px;
  background-color: orange;
  position: absolute;
  top: 8px;
  left: 190px;
  animation: e-move 5s linear  ;
}
.L::before{
  content: "";
  width: 40px;
  height: 40px;
  background-color: orange;
  position: absolute;
  bottom: 10px;
  left: 190px;
  opacity: 0%;
  animation: l-move 3s linear 6s ;
}
@keyframes e-move{
  0%{
    top: 8px;
    left: 190px;
  }
  10%{
    top: 8px;
    left: 10px;
  }
  20%{
    top: 180px;
    left: 10px;
  }
  30%{
    top: 180px;
    left: 190px;
  }
  40%{
    top: 180px;
    left: 10px;
  }
  50%{
    top: 350px;
    left: 10px;
  }
  60%{
    top: 350px;
    left: 190px;
  }
  70%{
    top: 350px;
    left: 10px;
  }
  90%{
    top: 8px;
    left: 10px;
  }
  100%{
    top: 8px;
    left: 190px;
  }
}
@keyframes l-move {
  0%{
    bottom: 10px;
    left: 190px;

  }
  10%{
    bottom: 10px;
    left: 190px;
    opacity: 100%;
  }
  35%{
    opacity: 100%;
    bottom: 10px;
    left: 10px;
  }
  75%{
    opacity: 100%;
    left: 10px;
    bottom: 350px;
  }
  100%{
    left: 10px;
    bottom: 350px;
  }
}